@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-circular font-normal text-base text-body bg-whiten relative z-1;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* third-party libraries CSS */

.tableCheckbox:checked ~ div span {
  @apply opacity-100;
}
.tableCheckbox:checked ~ div {
  @apply bg-primary border-primary;
}

.flatpickr-day.selected {
  @apply bg-primary border-primary hover:bg-primary hover:border-primary;
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  @apply fill-primary;
}
.flatpickr-calendar.arrowTop:before {
  @apply dark:!border-b-boxdark;
}
.flatpickr-calendar.arrowTop:after {
  @apply dark:!border-b-boxdark;
}
.flatpickr-calendar {
  @apply dark:!bg-boxdark dark:!text-bodydark dark:!shadow-8 !p-6 2xsm:!w-auto;
}
.flatpickr-day {
  @apply dark:!text-bodydark;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  @apply !top-7 dark:!text-white dark:!fill-white;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  @apply !left-7;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  @apply !right-7;
}
span.flatpickr-weekday,
.flatpickr-months .flatpickr-month {
  @apply dark:!text-white dark:!fill-white;
}
.flatpickr-day.inRange {
  @apply dark:!bg-meta-4 dark:!border-meta-4 dark:!shadow-7;
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.selected,
.flatpickr-day.endRange {
  @apply dark:!text-white;
}

.taskCheckbox:checked ~ .box span {
  @apply opacity-100;
}
.taskCheckbox:checked ~ p {
  @apply line-through;
}
.taskCheckbox:checked ~ .box {
  @apply bg-primary border-primary dark:border-primary;
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.custom-input-date-1::-webkit-calendar-picker-indicator {
  background-image: url("/images/icon/icon-calendar.svg");
}
.custom-input-date-2::-webkit-calendar-picker-indicator {
  background-image: url("/images/icon/icon-arrow-down.svg");
}

[x-cloak] {
  display: none !important;
}

.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker {
  display: flex;
}
.react-datepicker__triangle {
  display: none;
}
.react-datepicker__input-container input {
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  width: 100%;
  font-size: 16px;
  padding: 8px 10px 8px 40px;
}
.react-datepicker__view-calendar-icon input {
  padding: 8px 40px 8px 10px;
}
.react-datepicker__calendar-icon {
  right: 0;
  fill: #98a2b3;
  width: 18px;
  height: 18px;
  top: 4px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: none;
}

.loader.show {
  display: flex;
}

.loader__content {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #000;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pagination ul {
  @apply flex justify-center items-center;
}
.pagination ul li:hover {
  @apply text-primary;
}
.pagination ul li {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
}
.pagination ul li.selected {
  border: 1px solid currentColor;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrow {
  -moz-appearance: textfield;
}

.quill .ql-editor {
  padding: 50px;
}

.quill .ql-toolbar {
  border-radius: 10px 10px 0 0;
  border-color: #e2e8f0 !important;
}
.quill .ql-container {
  border-radius: 0 0 10px 10px;
  border-color: #e2e8f0 !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

* {
  /* scrollbar-color: #4caf50 #f1f1f1; */
}

* {
  /* scrollbar-track-color: #f1f1f1; */
}
